<!DOCTYPE html>
<html lang="zh-cn">
<head>
{% include themes/Neo/head.html %}
</head>
<body>
	{% include themes/Neo/nav.html %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <div class="neotitle">
                {% if page.group == 'home' %}
                <h1>{{ site.title }} </h1>
                {% if site.tagline %}<h2>{{ site.tagline }}</h2>{% endif %}
                {% else %}
                <h1>{{ page.title }} </h1>
                {% if page.tagline %}<h2>{{ page.tagline }}</h2>{% endif %}
                {% endif %}
                </div>
            </div>
            <hr/>
            <div class="col-md-8 col-xs-12 col-sm-12">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- cqun_main -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0162706752118926"
     data-ad-slot="3031683684"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>                
                {{ content }}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- cqun_main -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0162706752118926"
     data-ad-slot="3031683684"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>                
            </div>
            <div class="col-md-4 hidden-xs hidden-sm" >
                {% include themes/Neo/sidebar.html %}
            </div>
        </div>

    </div>
	{% include themes/Neo/footer.html %}
</body>
</html>
